.page2-input-style {
  height: 30px;
  width: 350px;
  background: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: white;
  color: white;
}
