.page2-objective {
    font-weight: 300;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 358px;
  }
  
  .page2-input-style {
    height: 30px;
    width: 350px;
    background: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: white;
    color: white;
  }
  