.company-logo-container {
  display: flex;

  .company-name {
    font-size: 16px;
    color: #f0f0f0;
    font-weight: 800;
  }
}

.welcome-heading {
  margin-bottom: 20px;
  max-width: 100%;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.wellcome-text {
  width: 100%;
  margin-bottom: 25px;
  margin-left: 4px;
  font-weight: unset;
  word-spacing: 1.5px;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
