.page2-objective {
    font-weight: 300;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 358px;
  }
  
  .page2-input-style {
    height: 30px;
    width: 350px;
    background: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: white;
    color: white;
  }
  .lbrecg {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity,
      box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    padding: 6px 14px;
    min-height: 40px;
    background-color: rgb(172, 1, 1);
    color: rgb(255, 255, 255);
    border-radius: 4px;
  }
  
  