@import "~antd/dist/antd.css";

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.App {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.list-btn {
  width: 135px;
  height: 30px;
  background: #3a3b38;
  color: #adacac;
  padding: 2px;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  &:hover {
    background: #53524e;
  }
}

.input-style {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(241, 236, 226);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(241, 236, 226, 30%) 0px 1px;
  background-color: transparent !important;
  margin-bottom: 4px;
  margin-top: 60px;
}

text-area:focus,
input:focus {
  outline: none;
}

.btn-style {
  font-size: large;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;

  padding: 6px 14px;
  min-height: 40px;
  background-color: rgb(172, 1, 1);
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgb(184, 39, 39);
  }

  > svg {
    margin-left: 10px;
  }
}

.press-enter-style {
  color: whitesmoke;
  margin-left: 10px;
  font-size: 12px;
}

.page-number {
  display: flex;
  color: white;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}
.page-number-style {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

.btn-container {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
}
.main-text {
  margin-bottom: 20px;
  max-width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.main-text-sub {
  margin-bottom: 20px;
  max-width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.sub-text {
  width: 100%;
  margin-bottom: 25px;
  margin-left: 4px;
  font-weight: 300;
  word-spacing: 1.5px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}
.underline-statement {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.page2-objective {
  font-weight: 300;
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 458px;
}
.upload-container {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px dashed rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.input-footer {
  color: white;
  font-size: 14px;
  margin: 10px 0;
}

textarea {
  display: block;
  width: 100%;
  height: 50px;
  font-family: inherit;
  color: rgb(255, 255, 255);
  padding: 0px 0px 8px;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  line-height: 38px;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
  transition: box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(255, 255, 255, 30%) 0px 1px;
}
.select-style {
  color: white;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(241, 236, 226, 30%) 0px 1px;
  background-color: transparent !important;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;

  font-size: 30px;
  padding: 0px 0px 8px;

  border-radius: 0px;
}
.option-style {
  font-size: 15px;
  border: 1px solid red;
}
