body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.App {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.list-btn {
  width: 135px;
  height: 30px;
  background: #3a3b38;
  color: #adacac;
  padding: 2px;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #fff;

  &:hover {
    background: #53524e;
  }
}

.input-style {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(241, 236, 226);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  -webkit-text-fill-color: rgb(241, 236, 226);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(241, 236, 226, 30%) 0px 1px;
  background-color: transparent !important;
  margin-bottom: 20px;
  font-size: 18px;
}

text-area:focus,
input:focus {
  outline: none;
}

.btn-style {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 10%) 0px 3px 12px 0px;
  padding: 6px 14px;
  min-height: 40px;
  background-color: rgb(241, 236, 226);
  color: rgb(143, 118, 69);
  border-radius: 4px;
  display: flex;
  align-items: center;

  > svg {
    margin-left: 10px;
  }
}

.press-enter-style {
  color: whitesmoke;
  margin-left: 10px;
  font-size: 12px;
}

.page-number {
  display: flex;
  color: white;
  margin-bottom: 30px;
}

.btn-container {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
}
